main {
  padding: 2em;
}

header {
  position: relative;
  left: 120px;
}

.dashboard header h1 {
  font-size: 48px;
  padding-bottom: 10px;
}

.dashboard header h1 span {
  color: #e60000;
}

.dashboard header p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1em;
}

.dashboard .grid-container {
  position: relative;
  left: 120px;
  max-width: calc(1000px - 120px - 4em);
  display: grid;
  align-items: center;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Activity Activity Activity Cards"
    "Sessions Radar Score Cards";
}

@media only screen and (min-width: 1025px) {
  .Score {
    max-width: 1124px;
  }

  .dashboard header h1 {
    padding-bottom: 24px;
  }

  .dashboard header p {
    margin-bottom: 2em;
  }
}
