.Activity {
  margin-bottom: 10px;
  grid-area: Activity;
  width: 635px;
  height: 250px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}
.Activity .recharts-tooltip-wrapper .custom-tooltip p {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.Activity h2 {
  position: relative;
  top: 24px;
  left: 30px;
  font-size: 15px;
  color: #20253a;
}

@media only screen and (min-width: 1025px) {
  .Activity {
    height: 320px;
    width: 835px;
  }
}
